:root {
    --bg-card: #1a1a1a;      /* Fondo de los contenedores */
    --accent: #00d4ff;       /* Azul neón */
    --max-width: 950px;      /* Ancho coordinado */
}

body {
    background-image: url('/img/fondo-azul.jpg');
    background-repeat: repeat;
    min-height: 100vh;

    margin: 0;
    font-family: sans-serif;
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid rgb(4, 212, 4);
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid red;
}